﻿@model TestRadya.Models.HouseModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type='text/javascript'>
        var map, contextMenu;
        function GetMap() {
            map = new Microsoft.Maps.Map('#myMap', {
                center: new Microsoft.Maps.Location($("#latitude").val(), $("#langitude").val())
            });
            var center = map.getCenter();
            //Create custom Pushpin
            var pin = new Microsoft.Maps.Pushpin(center, {
                title: $("#name").val(),
                subTitle: $("#address").val(),
                text: $("#id").val()
            });
            //Add the pushpin to the map
            map.entities.push(pin);
            Microsoft.Maps.Events.addHandler(map, 'click', displayEventInfo);
            Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', {
                callback: function () {
                    var manager = new Microsoft.Maps.AutosuggestManager({
                        placeSuggestions: false
                    });
                    manager.attachAutosuggest('#address', '#searchBoxContainer', suggestionSelected);
                },
                errorCallback: function (msg) {
                    alert(msg);
                }
            });
        }
        function displayEventInfo(e) {
            if (e.targetType == "map") {

                var point = new Microsoft.Maps.Point(e.getX(), e.getY());
                var loc = e.target.tryPixelToLocation(point);

                if (loc != null) {
                    $("#langitude").val(loc.longitude);
                    $("#latitude").val(loc.latitude);
                    Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                        var searchManager = new Microsoft.Maps.Search.SearchManager(map);
                        var location = new Microsoft.Maps.Location(loc.latitude, loc.longitude);
                        var mapOptions = {
                            center: location,
                            mapTypeId: Microsoft.Maps.MapTypeId.road,
                            zoom: 20,
                            showScalebar: false
                        }
                        var reverseGeocodeRequestOptions = {
                            location: location,
                            callback: function (answer, userData) {
                                map.setView(mapOptions);
                                $("#address").val(answer.name);
                            }
                        }
                        searchManager.reverseGeocode(reverseGeocodeRequestOptions);
                    });
                }

            }
        }
        function suggestionSelected(result) {
            $("#langitude").val(result.location.longitude);
            $("#latitude").val(result.location.latitude);
            console.log(result);
        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Aj-y_Ia866GKgTFls9WBn5q3Lx4OlOTFPsTBClA6zuT4uSSN2vAoLpA6BgkZASKo' async defer></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>HouseModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("type", ViewData["TH"] as SelectList, new { @class = "form-control m-b" })
                    @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="searchBoxContainer">
                @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.langitude, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.langitude, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.langitude, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.latitude, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.latitude, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.latitude, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Maps", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="myMap" style="position:relative;width:800px;height:600px;"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>
