﻿@model IEnumerable<TestRadya.Models.HouseModel>

@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type='text/javascript'>
        var map, contextMenu , loc;
      
        function GetMap() {
            map = new Microsoft.Maps.Map('#myMap', {

            });
            navigator.geolocation.getCurrentPosition(function (position) {
                loc = new Microsoft.Maps.Location(
                   position.coords.latitude,
                   position.coords.longitude);
                //Add a pushpin at the user's location.
                $("#UserLatitude").val(position.coords.latitude);
                $("#UserLangitude").val(position.coords.longitude);
                var pin = new Microsoft.Maps.Pushpin(loc);
                map.entities.push(pin);
                //Center the map on the user's location.
                map.setView({ center: loc, zoom: 15 })
            });
            //Create custom Pushpin

            var data = @Html.Raw(Json.Encode(@Model));
            for (i = 0; i < data.length; i++) {
                var position = new Microsoft.Maps.Location(data[i].latitude, data[i].langitude);
                var pin = new Microsoft.Maps.Pushpin(position, {
                    title: data[i].name,
                    subTitle: data[i].address,
                    text: data[i].id
                });
                map.entities.push(pin);
            }
        }


    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="~/Scripts/BsMultiSelect.min.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Aj-y_Ia866GKgTFls9WBn5q3Lx4OlOTFPsTBClA6zuT4uSSN2vAoLpA6BgkZASKo' async defer></script>
</head>
<body>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Choose Your House", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-7">
                    <select name="states" id="example" class="form-control" multiple="multiple" style="display: none;">
                        @Html.Hidden("UserLatitude", new { @class = "control-label col-md-2" })
                        @Html.Hidden("UserLangitude", new { @class = "control-label col-md-2" })
                    </select>
                </div>
                <div class="col-md-3" id="container_distance">
                    <div class="form-group" id="info_distance">
                       


                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btn_route" value="Find Route" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Maps", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="myMap" style="position:relative;width:800px;height:600px;"></div>
            </div>
        </div>
    </div>
</body>

</html>

<script type='text/javascript'>
    $(document).ready(function(){
        
        $("select").multiselect();
        var data = @Html.Raw(Json.Encode(@Model));
        for (i = 0; i < data.length; i++) {
            console.log(data[i]);
            $('select').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
        }
        $('select').multiselect('rebuild');

        $("#btn_route").on('click',function(){
            if ($(".multiselect").attr("title") != "None selected"){
                $.ajax({
                    type: "POST",
                    url: "/Rute/FindDistance",
                    data: { 
                        Latitude: $("#UserLatitude").val() ,
                        Longitude: $("#UserLangitude").val() ,
                        Dest: $(".multiselect").attr("title")

                    },
                    dataType: "json",
                    success: function (data) { 
                        var data = data.data;
                        console.log(data);
                        for(i = 0 ; i < data.length ; i++){
                            if (i+1 == data.length){
                                break;
                            }
                            //console.log(data[i]);
                            //var a = "<p> Distance From " +data[i].Description + " To " + data[i + 1].Description + "=" +  data[i + 1].distance + "KM</p>";
                            //console.log(a) 
                            $("#info_distance").append("<p> Distance From " +data[i].Description + " To " + data[i + 1].Description + "=" + parseFloat( data[i].Distance).toFixed(2)  + " KM </p>")
                        }
                    },
                    failure: function () { alert("not working..."); }
                });
            } else {
                alert("Please Pick One Destination");
            }

        });
    });
  
</script>